silver_map/Service References/Queryservice/AutoService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfAutoService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfAutoService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfcity_info">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="city_info" nillable="true" type="tns:city_info" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfcity_info" nillable="true" type="tns:ArrayOfcity_info" />
  <xs:complexType name="city_info">
    <xs:sequence>
      <xs:element minOccurs="0" name="bus_time" type="xs:double" />
      <xs:element minOccurs="0" name="central_city_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="city_dimension" type="xs:int" />
      <xs:element minOccurs="0" name="city_id" type="xs:int" />
      <xs:element minOccurs="0" name="city_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="city_rank" type="xs:int" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="is_central_city" type="xs:boolean" />
      <xs:element minOccurs="0" name="plane_time" type="xs:double" />
      <xs:element minOccurs="0" name="population" type="xs:int" />
      <xs:element minOccurs="0" name="scenery_point" type="xs:int" />
      <xs:element minOccurs="0" name="train_time" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="city_info" nillable="true" type="tns:city_info" />
  <xs:complexType name="AdderData">
    <xs:sequence>
      <xs:element minOccurs="0" name="x" type="xs:int" />
      <xs:element minOccurs="0" name="y" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdderData" nillable="true" type="tns:AdderData" />
</xs:schema>