silver_map/Service References/Queryservice/AutoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AutoService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IAutoService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://flickerfox-pc/WcfAutoService/AutoService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://flickerfox-pc/WcfAutoService/AutoService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://flickerfox-pc/WcfAutoService/AutoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfAutoService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAutoService_search_city_InputMessage">
    <wsdl:part name="parameters" element="tns:search_city" />
  </wsdl:message>
  <wsdl:message name="IAutoService_search_city_OutputMessage">
    <wsdl:part name="parameters" element="tns:search_cityResponse" />
  </wsdl:message>
  <wsdl:message name="IAutoService_query_city_InputMessage">
    <wsdl:part name="parameters" element="tns:query_city" />
  </wsdl:message>
  <wsdl:message name="IAutoService_query_city_OutputMessage">
    <wsdl:part name="parameters" element="tns:query_cityResponse" />
  </wsdl:message>
  <wsdl:message name="IAutoService_anotherGet_InputMessage">
    <wsdl:part name="parameters" element="tns:anotherGet" />
  </wsdl:message>
  <wsdl:message name="IAutoService_anotherGet_OutputMessage">
    <wsdl:part name="parameters" element="tns:anotherGetResponse" />
  </wsdl:message>
  <wsdl:portType name="IAutoService">
    <wsdl:operation name="search_city">
      <wsdl:input wsaw:Action="http://tempuri.org/IAutoService/search_city" message="tns:IAutoService_search_city_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAutoService/search_cityResponse" message="tns:IAutoService_search_city_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="query_city">
      <wsdl:input wsaw:Action="http://tempuri.org/IAutoService/query_city" message="tns:IAutoService_query_city_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAutoService/query_cityResponse" message="tns:IAutoService_query_city_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="anotherGet">
      <wsdl:input wsaw:Action="http://tempuri.org/IAutoService/anotherGet" message="tns:IAutoService_anotherGet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAutoService/anotherGetResponse" message="tns:IAutoService_anotherGet_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IAutoService" type="tns:IAutoService">
    <wsp:PolicyReference URI="#WSHttpBinding_IAutoService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="search_city">
      <soap12:operation soapAction="http://tempuri.org/IAutoService/search_city" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="query_city">
      <soap12:operation soapAction="http://tempuri.org/IAutoService/query_city" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="anotherGet">
      <soap12:operation soapAction="http://tempuri.org/IAutoService/anotherGet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AutoService">
    <wsdl:port name="WSHttpBinding_IAutoService" binding="tns:WSHttpBinding_IAutoService">
      <soap12:address location="http://flickerfox-pc/WcfAutoService/AutoService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://flickerfox-pc/WcfAutoService/AutoService.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>